<h4 class='light upcase'>
  Your Workshop Idea:
</h4>
<hr />
<h3 class='normal no-margin-bottom'>
  <%= "#{@workshop.title}" %>
</h3>

<br/><br/>

<span class='small'><%= "Author: #{workshop.author}" %></span><br/><br/>

<div class='stars'>
  <%= workshop.rating_as_stars %>
</div>

<div class='pencil inline-block'>
  <span class='no-border'>
    <%= workshop.led_count %>
  </span>
</div>


<div class='stars'>
  <%= workshop.rating_as_stars %>
</div>

<div class='pencil inline-block'>
  <span class='no-border'>
    <%= workshop.led_count %>
  </span>
</div>


<div class='div' id='workshop-top'></div>


    <div class='tab-content reset-list-items' id='english-content'>
      <% if workshop.legacy %>
        <div class='small'><%= workshop.display_objective %></div>
      <% else %>

        <% unless workshop.objective.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Objective</h3>
            <hr>
            <div class='small'><%= workshop.objective.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.materials.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Materials</h3>
            <hr>
            <div class='small'><%= workshop.materials.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.optional_materials.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Optional Materials</h3>
            <hr>
            <div class='small'><%= workshop.optional_materials.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.timeframe.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Time Frame</h3>
            <hr>
            <div class='small'><%= workshop.timeframe.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.age_range.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Age Range</h3>
            <hr>
            <div class='small'><%= workshop.age_range.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.setup.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Setup</h3>
            <hr>
            <div class='small'><%= workshop.setup.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.introduction.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Introduction</h3>
            <hr>
            <div class='small'><%= workshop.introduction.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.demonstration.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Demonstration</h3>
            <hr>
            <div class='small'><%= workshop.demonstration.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.opening_circle.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Opening Circle</h3>
            <hr>
            <div class='small'><%= workshop.opening_circle.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.warm_up.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Warm Up</h3>
            <hr>
            <div class='small'><%= workshop.warm_up.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.visualization.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Visualization</h3>
            <hr>
            <div class='small'><%= workshop.visualization.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.creation.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Creation</h3>
            <hr>
            <div class='small'><%= workshop.creation.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.closing.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Closing</h3>
            <hr>
            <div class='small'><%= workshop.closing.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.notes.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Notes</h3>
            <hr>
            <div class='small'><%= workshop.notes.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.tips.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Tips</h3>
            <hr>
            <div class='small'><%= workshop.tips.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.misc1.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Miscellaneous</h3>
            <hr>
            <div class='small'><%= workshop.misc1.html_safe %></div>
          </div>
        <% end %>

        <% unless workshop.misc2.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Miscellaneous 2</h3>
            <hr>
            <div class='small'><%= workshop.misc2.html_safe %></div>
          </div>
        <% end %>

      <% end %>
    </div>
<div class='clear'></div>
