<div class='hero-workshop' style='<%="background-image: url(#{workshop.header_image})"%>'>

  <div class='inner-hero'>
    <h2 class='normal inline-block no-margin'>
      <%= workshop.title %>
    </h2>

    <div class='flex-subtitle detail'>
      <span class='small'><%= "Author: #{workshop.author}" %></span>
      <span class='small'><%= "Category: #{workshop.windows_type.label if workshop.windows_type}" %></span>
      <% if sectors && sectors.any? %>
        <span class='small'><%= workshop.date %></span>
        <span class='small'>
          <% sectors.each do |sector| %>
            <%= sector.name %>
          <% end %>
        </span>
      <% else %>
        <span class='small no-border'><%= "Added: #{workshop.date}" %></span>
      <% end %>
    </div>

  </div>
</div>

<div class='stars'>
  <%= workshop.rating_as_stars %>
</div>

<div class='pencil inline-block'>
  <span class='no-border'>
    <%= workshop.led_count %>
  </span>
</div>

<div class='links' id='links'>

  <% if current_user.has_bookmarked_workshop?(workshop) %>
    <div class='btn-bookmark bookmark-inline'>
      <%= link_to '', bookmark_path(@bookmark), method: :delete, class: 'btn-bookmark__unmark-layer' %>
      <%= image_tag("bookmark-active.png", class:"img-responsive") %>
      <div><%= 'Un-bookmark' %></div>
    </div>
  <% else %>
    <%= form_for new_bookmark, url: bookmarks_path, html: { class: 'inline bookmark-inline' } do |f| %>
      <%= f.hidden_field :bookmarkable_id %>
      <%= f.hidden_field :bookmarkable_type %>
      <div class='btn-bookmark'>
        <%= label_tag 'addBookmark', '', class: '' %>
        <%= image_tag("bookmark.png", class:"img-responsive") %>
        <div><%= 'Bookmark' %></div>
      </div>
      <%= f.submit 'Bookmark', class: 'btn-small', id: 'addBookmark' %>
    <% end %>

  <% end %>

  <div class='btn-printer'>
    <%= link_to '', 'javascript:window.print()', class: 'print-button' %>
    <%= image_tag("printer.png", class:"img-responsive") %>
    <span><%= 'Print' %></span>
  </div>
  
  <div class="workshop-actions">

    <%= link_to 'Submit Workshop Log', new_workshop_log_path(windows_type_id: workshop.windows_type_id, workshop_id: workshop.id, breadcrumb: 'Search Curriculum'), class: 'btn btn-small' %>
    
    <a href="#workshopVariations" class="btn btn-small <% if !@workshop_variations.any? %>btn--disabled<% end %>">Workshop Variations</a>
    
    <a href="#workshopQuotes" class="btn btn-small <% if !@quotes.any? %>btn--disabled<% end %>">Related Quotes</a>
    
    <a href="#workshopLeaderSpotlights" class="btn btn-small <% if !@leader_spotlights.any? %>btn--disabled<% end %>">Related Stories</a>  
  </div>

</div>

<div class='div' id='workshop-top'></div>

<ul class='accordion-tabs-minimal'>

  <li class='tab-header-and-content'>

    <a class='is-active tab-link' href='javascript:void(0)' id='english'>
      English
    </a>

    <div class='tab-content reset-list-items' id='english-content'>
      <% unless workshop.extra_field.blank? %>
        <div class="single-workshop-detail">
          <div class='small wysiwyg-content clearfix'>
            <div class="wysiwyg-content__inner-wrapper">
              <%= workshop.extra_field.html_safe %>
            </div>
           </div>
        </div>
      <% end %>

      <% if workshop.legacy %>
        <div class='small wysiwyg-content clearfix'>
          <div class="wysiwyg-content__inner-wrapper">
            <%= workshop.display_objective %>
          </div>
        </div>
      <% else %>
        <% unless workshop.objective.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Objective</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.objective_fixed_img_urls %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.age_range.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Age Range</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <p><%= workshop.age_range.html_safe %></p>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.materials.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Materials</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.materials.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.optional_materials.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Optional Materials</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.optional_materials.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.time_frame_total == "00:00" %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Suggested Time Frame</h3>
            <hr></br>
            <div class="time-frame-wrapper">

              <% unless workshop.time_intro.to_i == 0 %>
              <div class="single-time-frame">
                <h3 class='normal'>Intro</h3>
                <div class='small'><span><%= workshop.time_intro.to_i %></span> <span>min</span></div>
              </div>
              <% end %>

              <% unless workshop.time_demonstration.to_i == 0 %>
              <div class="single-time-frame">
                <h3 class='normal'>Demonstration</h3>
                <div class='small'><span><%= workshop.time_demonstration.to_i %></span> <span>min</span></div>
              </div>
              <% end %>

              <% unless workshop.time_opening.to_i == 0 %>
              <div class="single-time-frame">
                <h3 class='normal'>Opening</h3>
                <div class='small'><span><%= workshop.time_opening.to_i %></span> <span>min</span></div>
              </div>
              <% end %>

              <% unless workshop.time_warm_up.to_i == 0 %>
              <div class="single-time-frame">
                <h3 class='normal'>Warm Up</h3>
                <div class='small'><span><%= workshop.time_warm_up.to_i %></span> <span>min</span></div>
              </div>
              <% end %>

              <% unless workshop.time_creation.to_i == 0 %>
              <div class="single-time-frame">
                <h3 class='normal'>Creation</h3>
                <div class='small'><span><%= workshop.time_creation.to_i %></span> <span>min</span></div>
              </div>
              <% end %>

              <% unless workshop.time_closing.to_i == 0 %>
              <div class="single-time-frame">
                <h3 class='normal'>Closing</h3>
                <div class='small'><span><%= workshop.time_closing.to_i %></span> <span>min</span></div>
              </div>
              <% end %>

              <div class="single-time-frame">
                <h3 class='normal'>Total</h3>
                <div class="small"><span><%= show_time(workshop.time_frame_total)%></span></span></div>
              </div>
            </div>
          </div>
       <% end %>

        <% unless workshop.setup.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Setup</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.setup.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.introduction.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Introduction</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.introduction.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.demonstration.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Demonstration</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.demonstration.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.opening_circle.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Opening</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.opening_circle.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.warm_up.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Warm Up</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.warm_up.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.visualization.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Visualization</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.visualization.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.creation.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Creation</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.creation.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.closing.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Closing</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.closing.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.notes.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Notes</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.notes.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.tips.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Tips</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.tips.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.misc1.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Miscellaneous</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.misc1.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.misc2.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Miscellaneous 2</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.misc2.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
  </li>

<% if workshop.has_spanish_fields? %>
  <li class='tab-header-and-content'>
    <a class='tab-link' href='javascript:void(0)' id='spanish'>
      Español
    </a>

    <div class='tab-content reset-list-items' id='spanish-content'>
      <% unless workshop.extra_field_spanish.blank? %>
        <div class="single-workshop-detail">
          <div class='small wysiwyg-content clearfix'>
            <div class="wysiwyg-content__inner-wrapper">
              <%= workshop.extra_field_spanish.html_safe %>
            </div>
           </div>
        </div>
      <% end %>
      <% unless workshop.objective_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Objetivo</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.objective_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.materials_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Materiales</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.materials_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.optional_materials_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Materiales Opcionales</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.optional_materials_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.timeframe_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Periodo de tiempo</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.timeframe_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.age_range_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Age Range</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.age_range_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.setup_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Preparativos</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.setup_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.introduction_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Introducción</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.introduction_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.demonstration_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Demostración</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.demonstration_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.opening_circle_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Círculo de apertura</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.opening_circle_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.warm_up_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Comenzando</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.warm_up_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.visualization_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Visualización</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.visualization_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.creation_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Creación</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.creation_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.closing_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Clausura</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.closing_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.notes_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Notas</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.notes_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.tips_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Consejos</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.tips_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.misc1_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Misc 1</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.misc1_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>

        <% unless workshop.misc2_spanish.blank? %>
          <div class="single-workshop-detail">
            <h3 class='normal curriculum-title'>Miscellaneous 2</h3>
            <hr>
            <div class='small wysiwyg-content clearfix'>
              <div class="wysiwyg-content__inner-wrapper">
                <%= workshop.misc2_spanish.html_safe %>
              </div>
            </div>
          </div>
        <% end %>
    </div>
  </li>
<% end %>

</ul>

<div class='clear'></div>
