<hr>
<div>
  <h4 class="normal light mb-3" <%= tag_options({'data-workshop-logs' => workshop_logs}, false) %>>Workshop Log Summary</h4>
  <h4>
    <table class='table normal light table-striped js-workshop-logs'>
      <thead>
        <th colspan="3"></th>
        <th colspan="3" class="bold small text-center blue-200"># Ongoing</th>
        <th colspan="3" class="bold small text-center green-200"># First-time</th>
      </thead>
      <thead>
        <th class='bold small'>Date</th>
        <th class='bold small'>Workshop</th>
        <th class='bold small'>Facilitator</th>
        <th class="bold small text-center blue-200">children</th>
        <th class="bold small text-center blue-200">teens</th>
        <th class="bold small text-center blue-200">adults</th>
        <th class="bold small text-center green-200">children</th>
        <th class="bold small text-center green-200">teens</th>
        <th class="bold small text-center green-200">adults</th>
      </thead>

      <% if workshop_logs && workshop_logs.any? %>
        <% monthly_logs = workshop_logs.values.flatten.select do |log |
          log.date && log.date.month == @month.to_i && \
                 log.date.year == @year.to_i
        end %>
        <% monthly_logs.each do |log| %>
          <tr>
            <td class='small'><%= link_to log.date_label, edit_workshop_log_path(log.id) , target: :blank %></td>
            <td class='small'><%= log.workshop_title %></td>
            <td class='small'><%= log.name %></td>
            <td class='small text-center blue-100'><%= log.children_ongoing %></td>
            <td class='small text-center blue-100'><%= log.teens_ongoing %></td>
            <td class='small text-center blue-100'><%= log.adults_ongoing %></td>
            <td class='small text-center green-100'><%= log.children_first_time %></td>
            <td class='small text-center green-100'><%= log.teens_first_time %></td>
            <td class='small text-center green-100'><%= log.adults_first_time %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </h4>
</div>
