<div class="curriculum-detail">
  <div class='show' id='show'>
    <%= render 'share_idea_show', workshop: @workshop, sectors: @sectors, new_bookmark: @new_bookmark, quotes: @quotes, leader_spotlights: @leader_spotlights, workshop_variations: @workshop_variations %>
  </div>
  <% if @quotes.any? || @leader_spotlights.any? || @workshop_variations.any? %>
    <div class='panel curriculum-panel' id='right-panel'>
      <% if @quotes.any? %>
        <section class="quotes">
          <h2 class='normal custom-h2'>Quotes</h2>
          <hr>
          <% @quotes.each do |quote| %>
            <div class='quote'>
              <div class='italic small quote-content'>
                <%= quote.quote %>
              </div>
              <div class='small bold'>- Participant</div>
            </div>
          <% end %>
        </section>
      <% end %>
      <% if @leader_spotlights.any? %>
        <section class="leader-spotlights">
          <h2 class='normal custom-h2'>Related Leader Spotlight(s)</h2>
          <hr>
          <div class="container-fluid">
            <div class="row">
              <% @leader_spotlights.each do |spotlight| %>
                <div class='spacing-tight col-sm-3 col-xs-6'>
                  <%= link_to resource_path(spotlight) do %>
                    <%= image_tag spotlight.decorate.main_image, class: 'block' %>
                    <span class='small'>
                      <%= spotlight.author %>
                      <br>
                      <%= spotlight.title %>
                    </span>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </section>
      <% end %>
      <% if @workshop_variations.any? %>
        <section class="workshop-variations">
          <h2 class='normal custom-h2'>Variations of this Workshop:</h2>
          <hr>
          <div class="container-fluid">
            <div class="row">
              <% @workshop_variations.each do |variation| %>
                <div class="col-sm-3 col-xs-6">
                  <%= link_to variation.name, workshop_variation_path(variation), class: 'workshop-variation' %>
                </div>
              <% end %>
            </div>
          </div>
        </section>
      <% end %>
    </div>
  <% end %>
</div>
<%# :javascript %>
