<%= form_for @report, as: :report, url: {action: :create,
  form_builder_id: params[:form_builder_id],
  month: @month,
  year: @year },
  method: :post do |f| %>

  <!-- ######### row 1 ##### -->
  <div class="row">
    <div class='col-md-8'>
      <%= f.label 'Reporting for the Month Of' %>
      <%= f.date_select :date,
        { discard_day: true, selected: Date.new( @year.to_i, @month.to_i ), use_hidden: true },
          onchange: 'window.location = window.location.toString().split("&month=")[0 + "&month=" +  $("#report_date_2i").val() + "&year=" + $("#report_date_1i").val()' %>

      <%= f.select(:date, {}, {:include_blank => false}, {:class => "form-control form-control-custom"}) %>

      <%= render 'workshop_log_summary', f: f, workshop_logs: @workshop_logs %>
    </div>
  </div>
<% end %>

<%= javascript_include_tag params[:controller] %>
