<div class="row" style="padding:0px;" >
  <div class="col-xs-12" style="padding-top:20px;">
    <section>
      <div class="row">
        <h2 class="no-margin-top custom-h2 section-title normal">
          <%= "Community News" %>
        </h2>
      </div>

      <div class="row" style="padding-top:0px;">
        <div class="col-xs-12" style="background-color: white;padding: 10px;border: 1px solid #ddd;">
          <% resources.each do |r| %>
            <div class="col-xs-6 col-xs-6-custom">
              <div class="workshop-box-desktop latests-news-box">
                <a href="<%= r.featured_url %>">
                  <figure class="portrait-img" style="background-image: url(<%= asset_path(r.main_image) %>);"></figure>
                </a>
                <div class="inner-content">
                  <h3><%= truncate(r.title,  :length => 40) %></h3>
                  <p>
                    <span class="dotdotdot"><%= truncate(r.truncated_text, length: 75, separator: ' ') %></span>
                  </p>
                  <%= link_to("Read more", r.featured_url, class:"a-news") %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row" style="background-color: white; padding: 10px; border: 1px solid #ddd; border-top: 0px;">
        <div class="col-xs-12" style="text-align:right;">
          <a href="/stories" class="btn btn-primary btn--small outline">
            SEE ALL
          </a>
        </div>
      </div>

    </section>
  </div>
</div>
