<%= form_for @user, html: { multipart: true } do |f| %>
  <%= render 'shared/errors', resource: user if user.errors.any? %>
  <div class="form-group">
    <%= f.label :avatar, class: 'bold' %>
    <%= image_tag user.avatar.url(:thumb), class: "img-rounded avatar" %>
    <%= f.file_field :avatar %>
    <%= f.label :email, class: 'bold' %>
    <%= f.text_field :email %>
    <%= f.label :password, class: 'bold' %>
    <%= f.password_field :password %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <div class="form-group">
      <%= f.fields_for :project_users do |project_user_form| %>
        <%= render 'project_user_fields', f: project_user_form, projects: projects, user: user %>
      <% end %>
      <%= link_to_add_association 'add role', f, :project_users, html_options: { locals: {projects: projects} }, class: 'smaller' %>
    </div>
    <%= f.label :phone, value: 'work phone' %>
    <%= f.text_field :phone %>
    <%= f.label :phone2, value: 'home phone' %>
    <%= f.text_field :phone2 %>
    <%= f.label :phone3, value: 'cell phone' %>
    <%= f.text_field :phone3 %>
    <%= f.label :best_time_to_call %>
    <%= f.text_field :best_time_to_call %>
    <label class="bold">Work Address</label>
    <%= f.label :address, value: 'street' %>
    <%= f.text_field :address %>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
    <label class="bold">Home Address</label>
    <%= f.label :address2, value: 'street' %>
    <%= f.text_field :address2 %>
    <%= f.label :city2, value: 'city' %>
    <%= f.text_field :city2 %>
    <%= f.label :state2, value: 'state' %>
    <%= f.text_field :state2 %>
    <%= f.label :zip2, value: 'zip' %>
    <%= f.text_field :zip2 %>
    <%= f.label :primary_address %>
    <%= f.select :primary_address, [['work', 1], ['home', 2]] %>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
    <%= link_to 'Cancel', user.id ? user_path(user) : root_path, class: 'btn secondary cancel-btn' %>
    <%= f.submit 'Submit' %>
  </div>
<% end %> 