<div class="container-fluid workshop-logs">
  <div class="row">
    <div class="col-md-12 col-lg-6 printable-full-width">
      <div class="entry-content">
        <h2 class="normal">
          Contact Us
        </h2>
        <p>Have questions, comments, or concerns? Use the contact form or see our contact information below.</p>

        <br/><b>Email</b>

        <p>programs@awbw.org</p>

        <b>Phone</b>
        <P>310-396-0317</P>

        <b>Fax</b>
        <p>310-396-9698</p>
      </div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-md-12 col-lg-12">
     <div class="btn-container windows-type">
      <a href="?q=adult" class="btn btn-primary btn-blue <%= "btn-active" if params[:q] == "adult" %>">
        Adult Program
      </a>


      <a href="?q=children" class="btn btn-primary btn-blue <%= "btn-active" if params[:q] == "children" %>">
        Children's Program
      </a>


      <a href="?q=general" class="btn btn-primary btn-blue <%= "btn-active" if params[:q] == "general" %>">
        General Questions
      </a>
      </div>
    </div>
  </div>

  <% if params[:q] %>

    <div class="row">
      <div class="col-md-12 col-lg-6">

        <%= form_tag("/contact_us", method: "POST") do %>

        <div class="row">

          <div class="col-md-6 col-lg-6">
            <input type="hidden" name="contact_us[q]" value="<%= params[:q] %>">

            <div class="form-group">
              <label>First Name*</label>
              <input type="text" name="contact_us[first_name]" class="form-control" required>
            </div>
          </div>

          <div class="col-md-6 col-lg-6">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" name="contact_us[last_name]" class="form-control">
            </div>
          </div>

        </div>
        <div class="form-group">
          <label>Agency/Organization *</label>
          <input type="text" name="contact_us[agency]" class="form-control form-control-lg" required>
        </div>

        <div class="form-group">
          <label>Email*</label>
          <input type="text" name="contact_us[from]" class="form-control form-control-lg" required>
        </div>

        <div class="form-group">
          <label>Subject Line*</label>
          <input type="text" name="contact_us[subject]" class="form-control form-control-lg" required>
        </div>

        <div class="form-group">
          <label>Your Message*</label>
          <textarea type="text" name="contact_us[message]" class="form-control form-control-lg" required>
          </textarea>
        </div>

        <div class="submit-row btn-container pull-right">
          <input class="btn btn-primary btn-blue" type="submit" value="Submit">
        </div>

  <% end %>

  </div>
  </div>

<% end %>

</div>
