<% user = project_user.user.decorate %>
<% unless user == current_user %>
  <%= link_to user_path(user) do %>
    <li class="nav-item sub-nav-item" id="js-user-<%= user.id %>">
      <div class="row">
        <div class="col-md-2">
          <%= image_tag user.avatar.url(:thumb), class: 'img-circle avatar-thumb' %>
        </div>
        <div class="col-md-8 white text-left users-group">
          <%= user.name %>
          <div class="smaller white text-left">
            <%= project_user.position %>
            <p>
              <%= "Last logged in #{user.last_logged_in}" %>
            </p>
          </div>
        </div>
      </div>
    </li>
  <% end %>
<% end %>
