<script type="text/javascript" charset="utf-8">
  console.log("v.3a")
</script>
<div class="relative nav-container col-md-2 sidebar-offcanvas collapse sidebar-mobile" id="sidebar" role="navigation">
  <nav class="navSide js-navSide" role="navigation">
    <ul class="nav-list">
      <%= link_to root_path do %>
        <li class="nav-item js-dashboard">
          <i class="icon icon-dashboard"></i>
          <span>Dashboard</span>
        </li>
      <% end %>
      <%= link_to workshops_path do %>
        <li class="nav-item js-search">
          <i class="icon icon-search"></i>
          <span>Search Curriculum</span>
        </li>
      <% end %>

      <% # Submit Report %>

      <%= link_to 'javascript:void(0)',class: 'js-accordion-trigger js-report-trigger' do %>
      <li class="nav-item header-item">
        <i class="icon icon-report"></i>
        <div class="nav-text">
          <span class="text">Submit Report</span>
          <i class="icon-arrow-down"></i>
        </div>
      </li>
      <% end %>
      <ul class="submenu js-side-nav-submenu js-report js-report-trigger is-expanded">
        <li class="nav-item no-padding-right sub-nav-item js-add-workshop-log">
          <span></span>
          <%= link_to 'WORKSHOP LOG', new_workshop_log_path, class: 'white' %>
        </li>
        <% unless show_feature?(:no_monthly_reports) %>
        <li class="nav-item no-padding-right sub-nav-item js-add-montly-report">
          <span></span>
          <%=  link_to 'MONTHLY REPORT', reports_monthly_select_type_path, class: 'white'  %>
        </li>
        <% end %>

        <% if show_feature?(:new_workshop_log) %>
          <li class="nav-item no-padding-right sub-nav-item js-add-montly-report">
            <span></span>
            <%= link_to 'WORKSHOP LOG SUMMARY', '/workshops/summary', class: 'white' %>
          </li>
        <% end %>

        <li class="nav-item no-padding-right sub-nav-item js-add-annual-report">
          <span></span>
          <%= link_to 'ANNUAL EVALUATION', reports_annual_path, class: 'white' %>
        </li>
      </ul>
      <% # Upload a new workshop %>
      <%= link_to workshops_share_idea_path do %>
        <li class="nav-item js-new-workshop">
          <i class="icon icon-share"></i>
          <span>Share Workshop Idea</span>
        </li>
      <% end %>
      <% # Share a story %>
      <%= link_to 'https://stories.awbw.org/share/', target: :blank do %>
        <li class="nav-item js-story">
          <%= image_tag "shareastory.png", class: "icon" %>
          <span>Share a Story</span>
        </li>
      <% end %>
      <% if false %>
        <% # Scholarships %>
        <%= link_to resources_path(kind: 'Scholarship') do %>
          <li class="nav-item js-scholarships">
            <i class="icon icon-scholarships"></i>
            <span>Scholarships</span>
          </li>
        <% end %>
      <% end %>
      <% #  Resources %>
      <%= link_to resources_path do %>
        <li class="nav-item js-resources">
          <i class="icon icon-resources"></i>
          <span>Resources</span>
        </li>
      <% end %>
      <%= link_to bookmarks_path do %>
        <li class="nav-item js-bookmarks">
          <i class="icon icon-bookmarks"></i>
          <span>My Bookmarks</span>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to faqs_path do %>
          <li class="nav-item js-faq">
            <i class="icon icon-faq"></i>
            <span>FAQ</span>
          </li>
        <% end %>
        <%= link_to contact_us_path(q: "adult") do %>
          <li class="nav-item js-contact">
            <i class="far fa-envelope icon"></i>
            <span>Contact Us</span>
          </li>
          <div class="arrow-left right"></div>
        <% end %>
        <li class="nav-item">
          <%= link_to 'http://awbw.org', target: :blank do %>
            <i class="icon icon-site"></i>
            <span>Public Site</span>
          <% end %>
        </li>
      <% end %>
</ul>
</nav>
</div>
