<div class="form-group">
  <div class="four-btn-row clearfix">

    <div id="selector-button" class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary btn--small btn-blue btn-sortable btn-fs-medium
                    <%= "active" if params["show_all"] == "1" %>" >
        <input id="show_all" name="show_all" value="1" type="checkbox">
        Show All
      </label>
    </div>

    <script>
      $("#show_all").change( function(){
      $('form').submit();
      });
    </script>

    <% sortable_fields.each do |sortable_field| %>

      <% name = sortable_field.is_a?(String) ? sortable_field : sortable_field.name %>
      <div id="selector-button" class="btn-group" data-toggle="buttons">
         <label class="btn btn-primary btn--small btn-blue btn-sortable btn-fs-medium
         <%= "active" if name.to_s == params[:kind] %>" >
         <%= check_box_tag(:kind, name, false, id: "kind_#{name}") %>
          <%= sortable_field_display_name(name).pluralize %>

         </label>
         <script>
           $("#kind_<%= name %>").change( function(){
              $('form').submit();
           });
         </script>
      </div>
    <% end %>
  </div>
</div>
