<div class="row">
  <div class="col-md-12 col-lg-8">
    <% if params[:action] != 'new' %>
      <h2 class="normal">
        <%= "#{@wl.title}" %>
      </h2>
    <% end %>

    <input type="hidden" name="workshop_log[workshop_name]" id="workshop_title"/>
    <input type="hidden" name="workshop_log[owner_id]" value="<%= @workshop.id %>" />
    <input type="hidden" id="workshop_id" name="workshop_id" />
    <input type="hidden" name="workshop_log[windows_type_id]" value="1" />

    <% if params[:action] == 'new' %>
      <input name="workshop_log[user]" type="hidden" class="form-control"
           id="facilitator" value="<%= current_user.name %>" readonly >
    <% else %>
      <input name="workshop_log[user]" type="hidden" class="form-control"
           id="facilitator" value="<%= @wl.user.name %>" readonly >
    <% end %>

    <div class="form-group">

      <div class="label-plus-comment">
        <label>Agency *</label>
        <div class="custom-smaller">
          Please contact AWBW if your agency is not listed.
        </div>
      </div>
      <div id="project-select">
        <%= collection_select(:workshop_log, :project_id, @agencies, :id, @agency_title,
            {:prompt => 'Please Select'},
            {:class => "form-control form-control-custom", :required => true }
        ) %>
      </div>
    </div>

    <div class="form-group has-feedback">
      <label for="datepicker">Workshop Date *</label>

      <div class="datepicker-group">

        <input name="workshop_log[date]" type="text" autocomplete="off"
               class="form-control date-picker"  id="datepicker"
               oninvalid="scroll_here(this);" required/>

        <i class="fa fa-calendar form-control-feedback"></i>
      </div>

    </div>

    <div class="row hide" id="other_sector_description_content">
      <div class="col-md-8 col-lg-8">
        <div class="form-group text-form-group">
          <input type="text" name="workshop_log[other_description]" id="other_description" class="form-control" placeholder='Enter other population(s) served'>
          </input>
        </div>
      </div>
    </div>
  </div>
</div> <!-- END ROW -->


<div class="row">
  <div class="col-md-9">
    <div class="label-plus-comment">
      <label>Participants</label>
      <div class="custom-smaller"><strong>Ongoing</strong> means participants who have attended a workshop with you or another facilitator at least once before.</div>
      <div class="custom-smaller"><strong>First-time</strong> means participants who have never attended a workshop with you or another facilitator before. First time participants can only be counted as first time once.</div>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 16px;">
  <div class="col-md-9">
    <label>Ongoing Participants</label>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-9">
    <div class="label-plus-comment">
      <div class="custom-smaller">Total # CHILDREN (ages 0-12)</div>
    </div>
    <input type="number" min=0 oninput="validity.valid||(value='');" value="<%= params[:action] != 'new' ? @wl.children_ongoing : '' %>" name="workshop_log[children_ongoing]" id="participants_total_children_ongoing" class="form-control" placeholder="0">
    <div class="label-plus-comment" style="margin-top: 10px">
      <div class="custom-smaller">Total # TEENS (ages 13-17)</div>
    </div>
    <input type="number" min=0 oninput="validity.valid||(value='');" value="<%= params[:action] != 'new' ? @wl.teens_ongoing : '' %>" name="workshop_log[teens_ongoing]" id="participants_total_teens_ongoing" class="form-control" placeholder="0">
    <div class="label-plus-comment" style="margin-top: 10px">
      <div class="custom-smaller">Total # ADULTS (ages 18+)</div>
    </div>
    <input type="number" min=0 oninput="validity.valid||(value='');" value="<%= params[:action] != 'new' ? @wl.adults_ongoing : '' %>" name="workshop_log[adults_ongoing]" id="participants_total_adults_ongoing" class="form-control" placeholder="0">
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <label>First-Time Participants</label>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-9">
    <div class="label-plus-comment">
      <div class="custom-smaller">Total # CHILDREN (ages 0-12)</div>
    </div>
    <input type="number" min=0 oninput="validity.valid||(value='');" value="<%= params[:action] != 'new' ? @wl.children_first_time : '' %>" name="workshop_log[children_first_time]" id="participants_total_children_first_time" class="form-control" placeholder="0">
    <div class="label-plus-comment" style="margin-top: 10px">
      <div class="custom-smaller">Total # TEENS (ages 13-17)</div>
    </div>
    <input type="number" min=0 oninput="validity.valid||(value='');" value="<%= params[:action] != 'new' ? @wl.teens_first_time : '' %>" name="workshop_log[teens_first_time]" id="participants_total_teens_first_time" class="form-control" placeholder="0">
    <div class="label-plus-comment" style="margin-top: 10px">
      <div class="custom-smaller">Total # ADULTS (ages 18+)</div>
    </div>
    <input type="number" min=0 oninput="validity.valid||(value='');" value="<%= params[:action] != 'new' ? @wl.adults_first_time : '' %>" name="workshop_log[adults_first_time]" id="participants_total_adults_first_time" class="form-control" placeholder="0">
  </div>
</div>


<!-- ################### FORM_FIELDS ################## -->
  <% @count = 1 %>
  <% if (@wl && @wl.owner.nil?) %>
  <div class="row">
    <div class="col-md-9">
      <% @wl.log_fields.each do |field| %>
        <% if [5,6,7,8,9,10,11,25,26,27,28,44,45,46,47,48,49,50,83,84,20,21,22,113,115,116,117,118,119,120].exclude? field.id %>
          <%= render 'shared/form_field', :field => field, :report => @wl %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% else %>

  <div class="row">
    <div class="col-md-9">
      <% @workshop.workshop_log_fields.each do |field| %>
        <% if [5,6,7,8,9,10,11,25,26,27,28,44,45,46,47,48,49,50,83,84,20,21,22,113,115,116,117,118,119,120].exclude? field.id %>
          <%= render 'shared/form_field', :field => field, :report => @wl %>
        <% end %>
      <% end %>
    </div>
  </div><!-- END ROW -->
<% end %>

<!-- ################### QUOTES ################## -->
<div class="row form-group">
  <div class="col-md-8 col-lg-8">
    <!-- QUOTES -->

    <script>
      window.quotesIndex = 0;
    </script>

    <div id="quotes">
      <% if @wl %>
        <% @wl.quotes.each_with_index do |q, i| %>
          <%= render 'quote', q: q, index: i %>
          <script>window.quotesIndex += 1;</script>
        <% end %>
      <% else %>
        <%= render 'quote', index: 0, q: Quote.new %>
      <% end %>
    </div>

    <div>
      <a class="btn-underline" href="javascript:addQuote();">Add another Quote</a>
    </div>

  </div>
</div>
<!-- END ROW -->
<script>
  function addQuote() {
    window.quotesIndex += 1;
    $("#quotes").append('<%= j render 'quote', :index => "last-quotes",:q => Quote.new %>');

    contentQuotes = document.getElementById("quote-last-quotes").innerHTML.replace(/last-quotes/g, window.quotesIndex);
    document.getElementById("quote-last-quotes").innerHTML = contentQuotes;
    newId = "quote-" + window.quotesIndex;
    $('#quote-last-quotes').attr( 'id' , newId );
  }

  function delQuote(quoteId) {
    $( quoteId ).remove();
  }

  $.urlParam = function(name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null) return null;
      else return results[1] || 0;
  }

  if ($.urlParam('agency_id') != null){
    $("#workshop_log_project_id").val("<%=params[:agency_id] %>");
  } else {

    $("#workshop_log_project_id").val("<%=@agency_id%>");
  }

</script>

<!-- ################### IMAGES ################## -->
<div class="row">
  <div class="col-md-8 col-lg-8">
    <!-- IMAGE -->
    <% unless @files.nil? %>
      <div class="file-list">
        <% @files.each do |item| %>
        <div class="file-list__item">
          <div class="file-list__media <%= item.file_content_type.split('/').last %>">
            <% if item.file_content_type.match(/image\//) %>
            <div class="file-list__img">
              <img src="<%= item.file %>" />
            </div>
            <% else %>
            <span class="file-list__file">
              <i class="<%= icon_for_mimetype(item.file_content_type) %>"></i>
            </span>
            <% end %>
          </div>
          <div class="file-list__meta-info">
            <div class="file-list__file-name">
              <%= item.file_file_name %>
            </div>
            <div class="file-list__other-info">
              <%= time_tag item.file_updated_at, :format=>'%B %d, %Y %l:%M %p' %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    <% else %>
      <div id="files-container">
        <div class="nested-fields mb-3">
          <div class="label-plus-comment">
            <label class="mb-3">Upload images and/or Art/Media Releases</label>
            <div class="custom-smaller">Click <a href="https://bit.ly/AWBWartmedia" target="_blank">here to download</a> the Art/Media Release in English and Spanish.</div>
          </div>

          <div v-for="(item, index) in fileCount">
            <div v-if="item.filename !== ''" :class="'file-list__item' + (item.hasError ? ' file-list--error' : '') ">
              <div v-if="item.hasError" class="file-list__error">Sorry, we aren't accepting this type of file at this time.</div>
              <div :class="'file-list__media '+ item.type.split('/')[1]">
                <div v-if="item.isImage" class="file-list__img">
                  <img :src="item.src" v-if="item.src"/>
                </div>
                <span v-if="!item.isImage" class="file-list__file">
                  <i :class="'fas '+ item.icon"></i>
                </span>
              </div>
              <div class="file-list__meta-info">
                <div class="file-list__file-name">{{ item.filename }}</div>
              </div>
              <div class="file-list__actions">
                <label class="pointer">
                  <i class="fas fa-pen">
                    <input v-on:change="fileChange(index, $event)" type="file" :name="'files['+index+']'"/>
                  </i>
                </label>
                <a class="btn-underline pointer" v-on:click="remove(index)">
                  <i class="fas fa-trash-alt"></i>
                </a>
              </div>
            </div>
            <label :class="'btn btn-primary mb-2 mt-3 btn--small' + (item.filename !== '' ? ' hidden' : '')">
              <input v-on:change="fileChange(index, $event)" type="file" :name="'files['+index+']'"/>
              Choose File
            </label>
          </div>
        </div>

        <div>
          <a class="btn-underline pointer" v-on:click="increment">Add another file</a>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
  var app = new Vue({
    el: "#files-container",
    data: {
      fileCount: [
        {
          src: "",
          type: "",
          filename: "",
          icon: "",
          isImage: false,
          hasError: false
        }
      ],
      acceptedFiles: [
        "image/jpeg",
        "image/jpg",
        "image/png",
        "application/pdf",
        "application/msword",
        "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
        "application/vnd.ms-excel",
        "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
      ]
    },
    methods: {
      fileChange: function fileChange(index, event) {
        var vm = this;
        var reader = new FileReader();
        var _event$target$files$ = event.target.files[0],
          type = _event$target$files$.type,
          name = _event$target$files$.name;
        var fileType = type.split("/")[0];

        if (!this.acceptedFiles.includes(type)) {
          vm.fileCount[index].hasError = true;
        }

        vm.fileCount[index].type = type;
        vm.fileCount[index].isImage = fileType === "image";
        vm.fileCount[index].filename = name;
        vm.fileCount[index].icon = this.getFontAwesomeIconFromMIME(type);

        if (fileType === "image") {
          reader.onload = function (e) {
            vm.fileCount[index].src = e.target.result;
          };

          reader.readAsDataURL(event.target.files[0]);
        }
      },
      increment: function increment() {
        app.fileCount.push({
          src: "",
          type: "",
          filename: "",
          icon: "",
          isImage: false
        });
      },
      remove: function remove(index) {
        app.fileCount.splice(index, 1);
      },
      getFontAwesomeIconFromMIME: function getFontAwesomeIconFromMIME(mimeType) {
        // List of official MIME Types: http://www.iana.org/assignments/media-types/media-types.xhtml
        var icon_classes = {
          // Media
          image: "fa-file-image",
          audio: "fa-file-audio",
          video: "fa-file-video",
          // Documents
          "application/pdf": "fa-file-pdf",
          "application/msword": "fa-file-word",
          "application/vnd.ms-word": "fa-file-word",
          "application/vnd.oasis.opendocument.text": "fa-file-word",
          "application/vnd.openxmlformats-officedocument.wordprocessingml":
            "fa-file-word",
          "application/vnd.ms-excel": "fa-file-excel",
          "application/vnd.openxmlformats-officedocument.spreadsheetml":
            "fa-file-excel",
          "application/vnd.oasis.opendocument.spreadsheet": "fa-file-excel",
          "application/vnd.ms-powerpoint": "fa-file-powerpoint",
          "application/vnd.openxmlformats-officedocument.presentationml":
            "fa-file-powerpoint",
          "application/vnd.oasis.opendocument.presentation": "fa-file-powerpoint",
          "text/plain": "fa-file-text",
          "text/html": "fa-file-code",
          "application/json": "fa-file-code",
          // Archives
          "application/gzip": "fa-file-archive",
          "application/zip": "fa-file-archive"
        };

        for (var key in icon_classes) {
          if (icon_classes.hasOwnProperty(key)) {
            if (mimeType.search(key) === 0) {
              return icon_classes[key];
            }
          } else {
            return "fa-file";
          }
        }
      }
    }
  });
</script>


<div class="submit-row btn-container text-center">
  <input class="btn btn-primary btn-blue" id="btn_submit" type="submit" value="Submit Log">
</div>
