<div class="form-group">
  <label for="agency">
    Select all populations served through this workshop *
  </label>

  <% i= 0 %>

  <div class="four-btn-row clearfix" id="population_fields">
    <% @sectors.each do |sf| %>

    <div id="selector-button" class="btn-group" data-toggle="buttons">
      <label id="sector_label_<%=i%>" class="btn btn-primary btn--small btn-blue btn-sectors btn-fs-medium <%= "active" if @wl and @wl.sectorable_items.any?{|si| si.sector_id == sf[0].to_i } %>">

	<input id="sector_<%= i %>" name="workshop[sectorable_items][<%= i %>][sector_id]"
	       type="checkbox" value="<%= sf[0] %>"
	       <%= "checked=true" if @wl and @wl.sectorable_items.any?{|si| si.sector_id == sf[0].to_i } %> />
	<%= sf[1] %>

      </label>
    </div>

    <% i = i + 1 %>

    <% end %>
    <p id="population_fields_error" class="hide clearfix">Please select at least one option</p>
  </div>
</div>

<script>
  $('body').on('click', '.btn-group .btn.active',function(e){
  e.preventDefault();
  e.stopImmediatePropagation();
  $(this).find('input').removeAttr('checked');
  $(this).removeClass('active');
   if ($(this).attr('id') == 'sector_label_7') {
     $('#other_sector_description_content').addClass('hide');
     $("#other_description").attr("required", false);
   }
  });
</script>
