<div class="container-fluid workshop-logs">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <div class="entry-content">
        <!-- new workshop message -->
        <div class="alert alert-success hide" id='notification_monthly'>
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          A monthly report has already been submitted for this month. To submit an additional workshop log please
          contact your program manager.
        </div>

        <h2 class="normal">Submit Workshop Log</h2>
        <p>
          Please submit a workshop log after each workshop you lead.
          Select your workshop type from the options below. Then,
          select the workshop name in the dropdown. If you don’t see your
          workshop title in the dropdown because you led an original workshop
          or a variation, choose "New Workshop."
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-lg-8 form-group">
      <label class="label-select" for="select-workshop">
        Enter workshop name or select from dropdown *
      </label>
      <div id="select_workshop">
        <%=
          collection_select( :workshop, :id, @workshop_list, :id, @title,
          { :selected => params[:workshop_id], :prompt => "Select a workshop" },
          { :class  =>  "form-control form-control-custom", :id     => 'select-workshop' })
         %>
      </div>
    </div>
  </div>

  <div class="row hide" id="workshop_text_content">
    <div class="col-md-8 col-lg-8">
      <div class="form-group text-form-group">
        <input type="text" id="workshop_name" class="form-control" required
               placeholder='Enter the name of your new workshop'/>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $('#select-workshop').select2();
  </script>

  <script>
    $("<option value='lnk_new_workshop'>[[ NEW WORKSHOP ]]</option>").insertBefore($("#select-workshop option:first"));

    $("#select-workshop").change(function () {
      option_value = $(this).find("option:selected").val();

      if (option_value === "lnk_new_workshop") {
        $("#workshop_text_content").removeClass('hide');
      } else if (option_value !== "") {
        $("#workshop_text_content").addClass('hide');
        $("#workshop_id").val(option_value);

      } else {
        $("#workshop_text_content").addClass('hide');
        $("#workshop_id").val("");
      }
    });
  </script>

  <script>
    function setNumberParticipantsLeft(ethnicityField) {
      total = number_val("#Total--On-going-Participants") + number_val("#Total--First-Time-Participants");
      total_enthnicity = number_val("#african_american") +
        number_val("#white") +
        number_val("#asian_pacific_islander") +
        number_val("#native_american") +
        number_val("#latino_a") +
        number_val("#other");

      participant_left = total - total_enthnicity;

      message = participant_left + " participants left to account for";
      $(ethnicityField).attr('title', message).tooltip('fixTitle').tooltip('show');
    }

    function showToolTip(input) {
      $('[data-toggle="tooltip"]').tooltip('destroy');
    }

    function number_val(id) {
      num = isNaN(parseInt($(id).val())) ? 0 : parseInt($(id).val());
      return num
    }
  </script>

  <% if @workshop %>

  <%= form_for @workshop, url: { action: :create,
               windows_type_id: 1,
               workshop_id: params[:workshop_id] },
               :html => {:novalidate => 'novalidate', :multipart => true},
               :method => :post do |f| %>
  <%= render 'form', form: f %>
  <% end %>

  <link rel="stylesheet" href="/vendor/Pikaday/css/pikaday.css">
  <script src="/vendor/Pikaday/pikaday.js"></script>
  <script>
    var header_height = $('.navbar').height();
    var picker = new Pikaday({
      field: document.getElementById('datepicker'),
      maxDate: new Date(),
      onSelect: function (date) {
        month = date.getMonth() + 1;
        year = date.getFullYear();
        windows_type = $.urlParam('windows_type_id');

        $.ajax
          ({
            type: "Post",
            url: "validate_new",
            data: "project_id=" + $('#workshop_log_project_id option:selected').val() + "&month=" + month + "&year=" + year + "&windows_type= " + windows_type,
            success: function (result) {
              if (result['validate'] === false) {
                $("#btn_submit").attr("disabled", true);
                $("#notification_monthly").removeClass('hide');
                $('html, body').animate({
                  scrollTop: $("#notification_monthly").offset().top - header_height - 50
                }, 500);

              } else {
                $("#btn_submit").attr("disabled", false);
                $("#notification_monthly").addClass('hide');
              }
            }
          });
      }
    });

    $.urlParam = function (name) {
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
      if (results == null) return null;
      else return results[1] || 0;
    }
      <% if params[:year]and params[:month] %>
        picker.setDate('<%= "#{params[:year]}-#{params[:month]}-02"%>')
        <% end %>
  </script>

  <% end %>

</div>

<script>
  var enable_submit_form = false;
  function validateOptions(event, div_id, input_type) {
    div_radios = $(div_id);
    input_type = "input[type='" + input_type + "']:checked"
    options = div_radios.find(input_type);
    p_error = div_id + "_error";

    if (options.length === 0) {
      div_radios.addClass("error-custom");
      div_radios.addClass("scroll-to-error");
      $(p_error).removeClass('hide');
      return false;
    } else {
      div_radios.removeClass("error-custom");
      div_radios.removeClass("scroll-to-error");
      $(p_error).addClass('hide');
      return true;
    }

  }

  $('#btn_submit').on('click', function (event) {

    var header_height = $('.navbar').height();

    // Validate Input Fields
    $(this).closest('form').find('input').each(function (index, el) {
      var is_input_text = $(el).attr('type') != 'radio' && $(el).attr('type') != 'checkbox' && $(el).attr('type') != 'hidden' && $(el).attr('required');
      if (is_input_text) {
        if (!$(el).val() || $(el).val() == '') {
          $(el).addClass('error-custom');
          $(el).addClass('scroll-to-error');
          $(el).closest('.form-group').find('.error-custom-message').remove();
          $(el).closest('.form-group').append('<p class="error-custom-message">Please complete this field</p>');
        } else {
          $(el).removeClass('error-custom');
          $(el).removeClass('scroll-to-error');
          $(el).closest('.form-group').find('.error-custom-message').remove();
        }
      }
    });
    var project_id = $('#project-select select');
    if (project_id.val() === '') {
      project_id.addClass('scroll-to-error');
      project_id.addClass('error-select-custom');
      project_id.closest('.form-group').append('<p class="error-custom-message">Please complete this field</p>');
    } else {
      project_id.removeClass('scroll-to-error');
      project_id.removeClass('error-select-custom');
      project_id.find('.error-custom-message').remove();
    }
    if ($('#workshop_name').val() == '' && $('#workshop_text_content').hasClass('hide') == false) {
      set_error_workshop_name();
    } else if ($('#workshop_name').val() != '' && $('#workshop_text_content').hasClass('hide') == false) {
      remove_error_class_workshop_name();
      $("#workshop_title").val($('#workshop_name').val());
    }

    if ($("#select-workshop") && $("#select-workshop").find("option:selected").val() == '') {

      $("#select-workshop").addClass('error-select-custom');
      $("#select-workshop").addClass('scroll-to-error');
      $("#select-workshop").closest('.form-group').find('.error-custom-message').remove();
      $("#select-workshop").closest('.form-group').append('<p class="error-custom-message">Please complete this field</p>');
    } else {
      $("#select-workshop").removeClass('scroll-to-error');
      $("#select-workshop").removeClass('error-select-custom');
      $("#select-workshop").find('.error-custom-message').remove();
    }


    if ($("#workshop_log_project_id option:selected").text() == '') {
      $("#project-select").addClass('error-select-custom');
      $("#project-select").addClass('scroll-to-error');
      $("#project-select").closest('.form-group').find('.error-custom-message').remove();
      $("#project-select").closest('.form-group').append('<p class="error-custom-message">Please complete this field</p>');
    } else {
      $("#project-select").removeClass('scroll-to-error');
      $("#project-select").removeClass('error-select-custom');
      $("#project-select").find('.error-custom-message').remove();
    }

    var array_select = [];
    mark_options(array_select, event);

    // Scroll to logic corrected
    if ($('.scroll-to-error').length) {

      $("html, body").animate({ scrollTop: $('.scroll-to-error').first().closest('.form-group').offset().top - header_height - 50 }, 500);

    } else {
      enable_submit_form = true;
    }
  });

  $('form').submit(function (event) {
    if (!enable_submit_form) {
      event.preventDefault();
    }
  });

  function mark_options(array_select, event) {
    array_select.push(validateOptions(event, "#population_fields", "checkbox"));

    if ('<%= @workshop && @workshop.windows_type.name %>' == 'ADULT WORKSHOP LOG') {
      array_select.push(validateOptions(event, "#gender_identity", "checkbox"));
      array_select.push(validateOptions(event, "#the_workshop_helped_the_participants_to_release_emotions", "radio"));
      array_select.push(validateOptions(event, "#the_workshop_helped_the_participants_communicate_openly", "radio"));
      array_select.push(validateOptions(event, "#for_ongoing_participants__i_see_the_art_workshops_increase_resilience_over_time", "radio"));
      array_select.push(validateOptions(event, "#the_workshop_helped_participants_develop_a_stronger_sense_of_where_they_want_to_go", "radio"));
      array_select.push(validateOptions(event, "#the_workshop_helped_participants_to_cope_with_difficult_feelings", "radio"));
      array_select.push(validateOptions(event, "#age_groups", "checkbox"));
    }

    if ('<%= @workshop && @workshop.windows_type.name %>' == 'CHILDREN WORKSHOP LOG') {
      array_select.push(validateOptions(event, "#gender_identity", "checkbox"));
      array_select.push(validateOptions(event, "#the_workshop_helped_the_children_to_release_emotions", "radio"));
      array_select.push(validateOptions(event, "#the_workshop_helped_the_children_to_demonstrate_self-confidence", "radio"));
      array_select.push(validateOptions(event, "#the_workshop_helped_the_children_youth_identify_and_name_feelings", "radio"));
      array_select.push(validateOptions(event, "#the_workshop_helped_the_children_to_communicate_in_a_non-violent_way", "radio"));
      array_select.push(validateOptions(event, "#the_workshop_helped_the_children_handle_anger_in_a_positive_way", "radio"));
      array_select.push(validateOptions(event, "#for_ongoing_participants__i_see_the_art_workshops_increase_resilience_over_time", "radio"));
      array_select.push(validateOptions(event, "#age_groups", "checkbox"));
    }

    if ('<%= @workshop && @workshop.windows_type.name %>' == 'ADULT &amp; CHILDREN COMBINED (FAMILY) LOG') {
      array_select.push(validateOptions(event, "#the_workshop_helped_family_members_to_open_up_about_the_difficult_things_they_were_experiencing_at_home", "radio"));
      array_select.push(validateOptions(event, "#_the_workshop_helped_families_deal_constructively_with_feelings__handling_anger_and_pain__finding_pleasure_and_relaxation__etc__", "radio"));
      array_select.push(validateOptions(event, "#the_workshop_helped_the_families_talk_about_something_they_had_never_talked_about", "radio"));

      array_select.push(validateOptions(event, "#the_workshop_was_useful_in_helping_these_families_take_steps_to_break_free_from_the_effects_of_violence_and_trauma", "radio"));

      array_select.push(validateOptions(event, "#the_workshop_positively_impacted_family_members’_relationship_with_each_other__e_g__helped_them_build_more_effective_communication__feel_closer_and_more_connected__create_a_new_sense_of_family_togetherness_", "radio"));

      array_select.push(validateOptions(event, "#the_workshop_helped_the_family_members_to_reconnect_with_each_other_after_the_trauma_they_experienced_and_begin_to_build_a_new_sense_of_family_together", "radio"));
      array_select.push(validateOptions(event, "#adult_ages", "checkbox"));
      array_select.push(validateOptions(event, "#children_s_ages", "checkbox"));
      array_select.push(validateOptions(event, "#gender_identity__all_participants_", "checkbox"));
    }

  }


  function set_error_workshop_name() {
    $('#workshop_name').addClass('error-custom');
    $('#workshop_name').addClass('scroll-to-error');
    $('#workshop_name').closest('.form-group').find('.error-custom-message').remove();
    $('#workshop_name').closest('.form-group').append('<p class="error-custom-message">Please complete this field</p>');
  }

  function remove_error_class_workshop_name() {
    $('#workshop_name').removeClass('error-custom');
    $('#workshop_name').removeClass('scroll-to-error');
    $('#workshop_name').closest('.form-group').find('.error-custom-message').remove();

  }

</script>

<script>
  $('#sector_7').change(function () {
    if ($(this).is(':checked'))
      $('#other_sector_description_content').removeClass('hide');
    $("#other_description").attr("required", true);
  });

  $.replaceUrlParam = function (url, paramName, paramValue) {
    var pattern = new RegExp('(' + paramName + '=).*?(&|$)')
    var newUrl = url.replace(pattern, '$1' + paramValue + '$2');
    var n = url.indexOf(paramName);
    if (n == -1) {
      newUrl = newUrl + (newUrl.indexOf('?') > 0 ? '&' : '?') + paramName + '=' + paramValue
    }
    return newUrl;
  }
</script>
