<section>
  <h2 class="no-margin-top section-title normal"><%= title %></h2>
  <% if resources.any? %>
    <div class="row flex-row" style="padding-top:0px;">
      <% resources.each do |resource| %>
        <div class="col-xs-6 col-xs-6-custom">
          <div class="workshop-box">
            <%= link_to resource.featured_url, target: :blank do %>
              <% unless resource.kind == 'Theme' %>
                <figure class="portrait-img" style="background-image: url(<%= resource.main_image %>)"></figure>
              <% end %>
              <div class="inner-content">
                <h3><%= resource.title %></h3>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <%= "There are no resources." %>
  <% end %>
</section> 