<tr>
  <td>
    <div class="row">
      <div class="col-sm-2 col-md-2 col-lg-2 fixed-width">
        <a href="<%= resource_path(resource) %>">
          <figure class="portrait-img" style="background-image: 
                 url(<%= resource.main_image.try(:file).try(:url) %>);">
          </figure>
        </a>
      </div>
      <div class="col-xs-8 col-xs-6-custom content-heading span">
        <h4>
          <%= resource.title %>
        </h4>
        <p class="workshop-description">
          <%= resource.decorate.truncated_text %>
        </p>
        <%= link_to("Read more", resource.decorate.featured_url, class:"a-news") %>
      </div>
    </div>
  </td>
</tr>

