<div class="row" style="padding:0px;" >
  <div class="col-xs-12 container-custom-dashboard">
    <section>
      <h2 class="no-margin-top custom-h2 section-title normal">
        <%= title %>
      </h2>

      <% if themes.any? %>
        <ul class="list-group">
          <% themes.first(4).each_with_index do |t, index| %>
            <li class="list-group-item list-group-item-custom" >
              <div class="row">

                <div class="col-xs-1">
                  <div class="layer pull-left"><%= index + 1 %></div>
                </div>

                <div class="col-xs-4">
                  <div class="workshop-box" style="position:relative;">
                    <%= link_to t.featured_url do %>

                      <%= image_tag(t.main_image_url ,
                          class: "img-responsive effect-img pull-left") %>

                      <div class="overlay"></div>
                      <div class='col col-custom'>
                        <%= t.title %>
                      </div>
                    <% end %>
                  </div>
                </div>

                <div class="col-xs-7 content-heading span">
                  <h3><%= t.truncated_text(60) + "..." %> </h3>
                  <%= link_to("Read more", t.url, class: "a-dashboard-underline") %>
                </div>
            </li>
          <% end %>

          <li class="list-group-item list-group-item-custom">
            <div class="row">
              <div class="col-xs-12" style="text-align:right;">
                <a href="https://awbw.org/impact/themes-in-healing/"
                   class="btn btn-primary btn--small outline">
                   SEE ALL
                 </a>
               </div>
             </div>
          </li>
        </ul>
     <% else %>
        <%= "There are no resources." %>
      <% end %>
    </section>
  </div>
</div>
