<p class='alert'>
  You have already submitted this report.
</p>
<%= form_for @report, as: :report, url: report_path( @report ), method: :put do |f| %>
  <hr>
 <% unless params[:form_builder_id] == "7" %>
   <h4>Report Type</h4>
  </hr>

  <!-- ######### row 1 ##### -->
  <div class="row">
    <div class="col-md-8 form-group">
      <div class='btn-container windows-type'>
        <h2 class="normal">
          <%= @report.windows_type.label %>
        </h2>
      </div>
    </div>

    <div class='col-md-8'>
      <%= label_tag 'Reporting for the Month Of' %>
      <input type="text" value="<%= @report.date.strftime("%B %Y") %>" class="form-control"      readonly />
      <%= render 'workshop_log_summary', f: f, workshop_logs: @workshop_logs %>
      <hr />
    </div>
  </div>
<% end %>

 <!-- ######### row 2 ########## -->
  <div class='row'>
    <div class='col-md-8'>
      <%= render 'shared/errors', resource: @report if @report.errors.any? %>
      <!-- ######### form fields ####### -->
      <div class='form-group'>
        <%= f.label 'Facilitator' %>
        <%= f.text_field :user, disabled: false, value: current_user.name, class:"form-control" %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :type %>
        <%= f.hidden_field :windows_type_id, value: @report.windows_type_id %>
        <%= f.hidden_field :id, value: @report.id %>
        <br>
      </div>

      <div class='form-group'>
        <div class="label-plus-comment">
          <%= f.label 'Agency' %>
          <div class="custom-smaller">Please contact AWBW if your agency is not listed.</div>
        </div>
        <% agency = @agencies.find_by(windows_type_id: f.object.windows_type.id) %>
        <%= f.collection_select :project_id, @agencies, :id, :name,
        { selected: agency ? agency.id : nil,class: 'js-agency-select' },
        class:"selectpicker form-control form-control-custom", onchange: 'redirectToNewProject()' %>
      </div>

      <%= render 'sectorable_items' %>
      <% @count = 1 %>

      <% @report.log_fields.each do |field| %>

        <%= render 'shared/form_field', :field => field, :report => @report %>

        <script>
          $("#Total--On-going-Participants").prop("readonly", true);
          $("#Total--First-Time-Participants").prop("readonly", true);
        </script>

        <% if field.question == 'Share challenges for this month' ||
      (field.question == 'Anything we can do to help you?' and params[:form_builder_id].to_i == 2)%>
          <!-- QUOTES -->

          <script>
            window.quotesIndex = 0;
          </script>

          <div id="quotes">
            <% if @report %>
              <% @report.quotes.each_with_index do |q, i| %>
                <%= render 'quote', q: q, index: i %>
                <script>window.quotesIndex += 1;</script>
              <% end %>
            <% else %>
              <%= render 'quote', index: 0, q: Quote.new %>
            <% end %>
          </div>

          <div>
            <a class="btn-underline" href="javascript:addQuote();">Add another Quote</a>
          </div>
          <br />

        <% end %>

      <% end %>

      <!-- ######## uploads sectors ####### -->
      <div class="image-fields-wrapper">
        <div class="image-upload-field form-group">
          <div class="input-upload-description" >
            <%= f.label "Upload Images" %>
            <span class="smaller">
              If the image includes the client or client artwork fill out
              Art/Media Release Form
              <%= link_to "here", "http://dashboard.awbw.org/resources/859" %>
            </span>
          </div><!-- bold -->
          <div class="form-group">
            <%= f.label :image, class: "btn btn-primary btn--small" do %>
              <input type="file" id="report_image" name="image" >
              Choose File
            <% end %>

          <% if @report.image %>
            <div class="row">
              <div class="col-xs-2">
                <img src="<%= @report.image.file.url %>" class="portrait-img"/>
                </div>
             </div>
            <% end %>
          </div>
        </div>

        <div class="image-upload-field">
          <div class="input-upload-description" >
            <%= f.label "Upload Form Files" %>
          </div>

          <div class="form-group">
            <%= f.label :form_file, class: "btn btn-primary btn--small" do %>
              <%= f.file_field :form_file, class: '', id: 'report_form_file'%>
              Choose File
            <% end %>

           <% if @report.form_file %>
              <div class="row">
                <div class="col-xs-2">
                 <a href="<%= @report.form_file.url %>">
                  <%= @report.form_file_file_name %>
                 </a>
                </div>
             </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ######### row 3 ########## -->
  <div class="row">
    <div class="col-md-8 align-right">
      <%= f.submit 'Submit', class: "btn btn-primary btn-blue btn-filled" %>
    </div>
  </div>
<% end %>

<script>
  function addQuote() {
    window.quotesIndex += 1;
    $("#quotes").append('<%= j render 'quote', :index => "last-quotes",:q => Quote.new %>');

    contentQuotes = document.getElementById("quote-last-quotes").innerHTML.replace(/last-quotes/g, window.quotesIndex);
    document.getElementById("quote-last-quotes").innerHTML = contentQuotes;
    newId = "quote-" + window.quotesIndex;
    $('#quote-last-quotes').attr( 'id' , newId );
  }

  function delQuote(quoteId) {
    $( quoteId ).remove();
  }

   $("#edit_report :input").attr("disabled", true);
</script>
