<div class="pull-right">
  <a href="/impersonate_users/help">Help</a>
</div>

<table class="table">

  <th> Impersonate Users </th>
  <th><form action="/impersonate_users/">

      <input type="text" name="q" value="<%= params[:q] %>" class="form-control"/>

  </th>
  <th><input type="submit" class="btn btn-small" value="search"/></form></th>
<% @users.each do |u| %>
  <tr>
    <td><%= u.full_name %></td>
    <td><%= u.email %></td>
    <td>
      <%= form_tag impersonate_users_path, method: 'post' do |f| %>
        <input type="hidden" name="i_user" value="<%= u.email %>"
               class="form-control"/>
        <input type="submit" class="btn btn-small" value="Impersonate"/>
      <% end %>
    </td>
  </tr>
<% end %>

</table>

<div class="text-center">
  <%= will_paginate @users, :previous_label => '<<', :next_label => '>>', :inner_window => 2 %>
</div>
