<!DOCTYPE html>
<html>
  <head>
    <title>AWBW</title>
    <link rel="stylesheet" href="/vendor/select-2/select2.min.css">
    <%# <%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track' => true %> %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css' %>
    <%= render partial: 'layouts/google_webfonts' %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-1.8.3.min.js' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js' %>
    <%= stylesheet_link_tag '/vendor/fontawesome/css/all.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta content='width=device-width initial-scale=1 maximum-scale=1 user-scalable=no' name='viewport'>
    <link rel="shortcut icon" type="image/png" href="<%= asset_path("favicon.png") %>"/>
  </head>
  <body class='<%=controller.controller_name%> <%=controller.action_name%>'>

    <div class='content container-fluid' id='main'>
      <%= render 'shared/header' %>
      <div class="header-printable">
        <%= image_tag("awbw-print-logo.png",class:"img-responsive") %>
      </div>

      <div class='row main-content'>
        <% if user_signed_in? %>
          <%= render 'shared/side_nav' %>

          <div class='<%= main_content_classes %>'>
             <%= render 'shared/flash_messages' %>
             <%= yield %>
          </div>
        <% else %>
          <div class='<%= main_content_classes %>'>
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>
        <% end %>
      </div>
      </div>
    <footer class='container-fluid'>
      <div class='smaller u-textCenter white contact'>
        <ul class='row'>
          <li>
            <dt>Contact Us</dt>
            <dd><%= Footer.phone %></dd>
            <dd><%= Footer.general_questions %></dd>
          </li>
        </ul>
      </div>
      <div class='smaller copyright u-textCenter white'>A Window Between Worlds ® ™</div>
    </footer>
  </body>
</html>
