<!DOCTYPE html>
<html>
  <head>
    <title>AWBW</title>
    <link rel="stylesheet" href="/vendor/select-2/select2.min.css">
    <%= stylesheet_link_tag 'base', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css' %>
    <%= google_webfonts_init({google: ['Roboto:400,500,700','Lato', 'Overpass', 'Overpass:b']}) %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-1.8.3.min.js' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta content='width=device-width initial-scale=1 maximum-scale=1 user-scalable=no' name='viewport'>
  </head>
  <body>
    <div class='content container-fluid' id='main'>
      <%= render 'shared/header' %>
      <div class="header-printable">
        <%= image_tag("awbw-print-logo.png",class:"img-responsive") %>
      </div>
      <div class='row main-content'>

      </div>

       <div class='printable-area col-md-10'>
         <%= yield %>
       </div>

        </div>
      </div>
    <footer class='container-fluid'>
      <div class='smaller u-textCenter white contact'>
        <ul class='row'>
          <li class='inline-block col-md-3'>
          </li>
          <li class='inline-block col-md-3'>
            <dt>Phone</dt>
            <dd><%= Footer.phone %></dd>
          </li>
          <li class='inline-block col-md-3'>
            <dt>General Questions</dt>
            <dd><%= Footer.general_questions %></dd>
          </li>
          <li class='inline-block col-md-3'>
          </li>
        </ul>
      </div>
      <div class='smaller copyright u-textCenter white'>A Window Between Worlds ® ™</div>
    </footer>
  </body>
</html>
<script>
  //<![CDATA[
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-39455361-2', 'auto');
    ga('send', 'pageview');
  //]]>
</script>
